.texto_primario {
    color: #078800;
    background-color: red;
    font-size: 12 px;
    font-family: Verdadna, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    line-height: 1.7;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 3px;
    white-space: nowrap;
}
.texto_secundario{
    color: maroon;
    background-color: yellowgreen;
    font-size: 14 px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    line-height: 1;
    text-decoration: line-through;
    text-transform: lowercase;
    letter-spacing: 1px;
    word-spacing: 1px;
    white-space: nowrap;
}