.body {
    height: 1000px;
    position: relative;
}
.estatico {
    position: static;
    background-color: red;
    padding: 10px;
    top: 50px;
    left: 50px;
}
.relativo {
    position: relative;
    background-color: lightblue;
    padding: 10px;
    top: 50px;
    left: 50px;
}
.fijo {
    position: fixed;
    background-color: blue;
    color: white;
    padding: 10px;
    top: 50px;
    left: 50px;
}