.grid {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    gap: 10px;
    background-color: darkorchid;
    padding: 10px;
}
.item {
    padding: 20px;
    border: 2px solid peru;
    background-color: palevioletred;
    border: 10px solid black;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    text-align: center;
}

