@keyframes mover {
    0% {transform: translateX(0); background-color: gold;}
    50% {transform: translateX(200px); background-color: darkred;}
    100% {transform: translateX(0); background-color: gold;}
}
.caja {
    width: 100px;
    height: 100px;
    background-color: darkblue;
    animation: mover 2s infinite ease-in-out;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 8px;
}

